body {
  font-family: 'Arial', sans-serif;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
.chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.chat-icon {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.chat-icon i {
    font-size: 2rem;
    color: #a60303;
}

.chat-prompt {
    position: absolute;
    right: 80px;
    bottom: 5px;
    background-color: #a60303;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 10px;
    animation: bounce 1s infinite;
}
.chat-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

#chat-content {
  max-height: 300px; /* Adjust based on your preference */
  overflow-y: auto; /* change to auto from scroll */

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE & Edge */

  /* For Chrome, Safari */
  &::-webkit-scrollbar {
      display: none;
  }
}
/* Chat messages */
.message {
  max-width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.bot-message {
  background-color: #e5e5e5;  /* Light gray for bot messages */
  align-self: flex-start;     /* Align left */
  border-top-left-radius: 0;
  padding: 10px;
    /* Make it look like a bubble */
}

.user-message {
  background-color: #a60303;  /* Dark blue for user messages */
  color: white;
  align-self: flex-end;       /* Align right */
  border-top-right-radius: 0; /* Make it look like a bubble */
}



#chatbot-icon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 101px;
  height: 51px;
  cursor: pointer;
  background-image: url('PonyvaexpresszLogo.PNG'); /* Replace with your chatbot icon image */
  background-size: cover;
  z-index: 1000;
}

#help-text {
  position: absolute;
  bottom: 70px;
  right: 10px;
  color: #a60303;
  animation: jump 1s infinite;
  font-size: 15px;
  cursor: pointer;
}

@keyframes jump {
  0%   {transform: translateY(0);}
  50%  {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

.chatbox {
  width: 450px;
  max-height: 400px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  bottom: 70px;
  right: 10px;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a60303;
    color: #FFF;
}

.user-input {
  display: flex;
  border-top: 1px solid #ccc;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}


#send-btn {
  background-color: #a60303;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
#send-btn:hover {
    background-color: #a60303;
}

#close-btn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #FFF;
}